<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WebHound Recon Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>WebHound System Test</h1>

    <form method="post" action="/">
        <input type="text" name="target_url" placeholder="Enter target URL" required>
        <button type="submit">Send</button>
    </form>

    {% if message %}
    <div class="result-box">
        <strong>Result:</strong> {{ message }}
    </div>
    {% endif %}

</body>

</html>